@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:wght@400;500;600&display=swap');

:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959DCC;
    --brand: #FFAB76;
    --white: #fff;
}
body{
    font-family: "inter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--body);
    line-height: 1.5;
    background-color: var(--bg1);
}
h1,h2,h3,h4,h5,h6{
    font-family:"Dela gothic one", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #fff;
}
img{
    width: 100%;
}
a{
    color:var(--body);
    text-decoration: none;
    transition: all 0.4s ease;
}
a:hover{
  
color: var(--brand);
}
.link-more{
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    left: 1;
    text-transform: uppercase;
}
.link-more .icon{
    transition: all 0.4s ease;
}
.link-more:hover .icon{
transform: translateX(8px);
}
section{
    padding-top: 160px;
    padding-bottom: 160px;
}

/*navbar*/
.navbar{
  
    background: linear-gradient(to bottom,#1B1F34 , rgba(27,31,52,0.2));
}
.navbar .navbar-nav .nav-link .active{
color:var(--brand);
}
.navbar-brand{
    font-family: "inter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;

}




/*hero*/
#hero{
    background: linear-gradient(to right,#1B1F34 , rgba(27,31,52,0.0)), url(../img/cover_1.jpg);
min-height: 100vh;
background-position: center;
background-size: cover;

}
#hero p{
    margin-top: 24px;
    margin-bottom: 24px;
}
/*intro*/
.intro{
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;

}
.intro h6{
    color: var(--brand);
}

/*btn*/
.btn{
    font-family: "inter",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 16px 30px;
    transition: all 0.4s ease;
    color: #000;
    border-radius: 0;
}
.btn-brand{
 
   background-color: var(--brand);

}
.btn-brand:hover{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);
}
.btn-outline-brand{
    background-color: transparent;
    color: var(--brand);
    border-color: var(--brand);

}
.btn-outline-brand:hover{
    background-color: var(--brand);
}
/*ABOUT*/
#about{
position: relative;
}
#about::after{
    content: "";
    width: 25%;
    height: 100%;
    background-color: var(--brand);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#about h6{
    color: var(--brand);
    
}
#about h1{
    margin-top: 16px;
    margin-bottom: 24px;
}
#about .signiture{

    width: unset;
}
/* services-part*/
#services{
    background-color: var(--bg2);
}
#Services .service .content{
    padding: 32px;
    
}
#Services .service p{
    margin-top: 18px;
    margin-bottom: 18px;
}
/*counters*/
 #counters{
    background: linear-gradient(to right,rgba(27,31,52,0.8), rgba(27,31,52,0.8)), url(../img/cover_2.jpg);

    background-size: cover;
    background-position: center;

}
#counters h1{
    color: var(--brand);
}
/*features*/
#features{
    background-color: var(--bg2);
}
.features{
 
    display: flex;
}
.features .icon-featers{
    font-size: 44px;
    color: var(--brand);
    line-height: 1;
    margin-right: 16px;
}
.features p{
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}
/*social-links*/
.social-links a{
    width: 42px;
    height: 42px;
    background-color: var(--bg2);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.social-links a:hover{
    background-color: var(--brand);
    color: var(--bg2);
}
/*TEAM*/
.team-member{
position: relative;
}
.team-member .social-links{
    position: absolute;
    right: 30px;
    top: 0px;
    transition: all 0.4s ease;
    opacity: 0;
}
.team-member:hover  .social-links{
    opacity: 1;
    top: 30px;
}
/*Review*/
#review{
    background-color: var(--bg2);
}
/*booking*/
#booking{
    background: linear-gradient(to right,rgba(27,31,52,0.8), rgba(27,31,52,0.8)), url(../img/cover_2.jpg);

    background-size: cover;
    background-position: center;


}
#booking form{
    background-color: var(--bg1);
    padding: 32px;
}
#booking form .form-control{
    background-color: var(--bg1);
    margin-top: 16px;
    border-radius: 0;
    background-color: var(--bg2);
    border: 2px solid var(--bg2);
    color: var(--body);
}
#booking form input{
    height: 58px;
}
#booking form .form-control:focus{
    box-shadow: none;
    border-left-color: var(--brand);
}
footer {
    background: linear-gradient(to right,rgba(27,31,52,0.8), rgba(27,31,52,0.8));
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-top {
    margin-bottom: 30px;
}

footer p,
footer a{
    color: rgba(255, 255, 255, 0.75);
}

footer .icon {
    font-size: 24px;
    margin-right: 10px;
}

footer img {
    max-width: 175px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}